<button routerLink="/sauce-form" type="button" class=" bottom-0 right-0 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 fixed">+</button>
<div class="flex flex-wrap">
	

	
	<div *ngFor="let sauce of saucesList" class="card m-8 mb-15">
	<img [src]="sauce.picture" alt="" class="" />
	<div class="card-body">
		<h2 class="card-header"> {{sauce.name}}</h2>
		<p class="text-content2">{{sauce.description}}</p>
		<div class="card-footer">
			<button (click)="goToSauce(sauce)" class="btn-secondary btn">Voir plus</button>
		</div>
	</div>
	</div>


</div>
